@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Readex Pro', sans-serif;
    margin: 0;
    padding: 0;
}
div{
    border: 3px solid #fff;
    width: 50%;
    height: 100px;
    background-color: antiquewhite;
    padding: 10px;
}

div div{
    background-color: darkgrey;
    width: 20%;
    padding: 0;
    height: auto;
    text-align: center;
}

.display-inline{
    display: inline;
}

.display-inline-block{
    display: inline-block;
}

.float{
    float: left;
}